/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/src/generated/prisma
.env
.idea/
prisma
dist

# Hardhat-specific ignores
hardhat/artifacts
hardhat/cache
hardhat/types
hardhat/coverage
hardhat/ignition/deployments
hardhat/TEST_TOKENS_GUIDE.md
hardhat/verification/